.circuit-enter {
  transition: all 0.5s;
  transform: translate(-120%);
}
.container {
  display: flex;
  flex-direction: column;
}
.app-components {
  display: flex;
  flex-direction: row;
}
.section {
  width: 20%;
  border: 4px solid #000;
}
.single-climb {
  display: flex;
  flex-direction: column;
  background: #ffc0cb;
  width: 400px;
}
.single-climb * {
  margin: 0;
}
.single-climb button {
  width: 100%;
}
.thumbnail {
  width: 100px;
  height: 100px;
  float: left;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
