.single-climb
    display flex
    flex-direction: column
    background pink
    width 100%
    *
        margin 0
    button
        width 100%
.thumbnail
    width 100px
    height 100px
    float left
